[Unit]
Description=Early Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target early-docker.socket
Requires=early-docker.socket

[Service]
EnvironmentFile=-/etc/default/early-docker
EnvironmentFile=-/etc/default/early-docker.d/*
EnvironmentFile=-/etc/sysconfig/early-docker
ExecStart=/usr/bin/docker daemon -H fd:// $DOCKER_OPTS
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
