[Unit]
Description=Early Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target early-docker.socket
Requires=early-docker.socket

[Service]
EnvironmentFile=-/etc/default/early-docker
EnvironmentFile=-/etc/default/early-docker.d/*
EnvironmentFile=-/etc/sysconfig/early-docker
Environment="DOCKER_CGROUPS=--exec-opt native.cgroupdriver=systemd"
Environment=TMPDIR=/var/tmp
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
ExecStart=/usr/bin/docker daemon --host=fd:// --bridge=none --iptables=false --ip-masq=false --exec-root=/var/run/early-docker --graph=/var/lib/early-docker --pidfile=/var/run/early-docker.pid $DOCKER_OPTS $DOCKER_CGROUPS

[Install]
WantedBy=early-docker.target