[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
Requires=docker.service
Before=docker.service

[Service]
Type=notify
Restart=always
RestartSec=5
Environment="TMPDIR=/var/tmp/"
Environment="DOCKER_HOST=unix:///var/run/docker.sock"
ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{ "Network": "100.64.0.0/10" }'
ExecStart=/usr/bin/flanneld

[Install]
WantedBy=multi-user.target