[Unit]
Description=flannel
Wants=network.target network-online.target early-docker.service etcd.service
After=network.target network-online.target early-docker.service etcd.service

[Service]
Environment=DOCKER_HOST=unix:///var/run/early-docker.sock
ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{ "Network": "100.64.0.0/10" }'
ExecStart = /usr/bin/docker run \
				--net=host \
				--privileged \
				-v /run/flannel:/run/flannel \
				quay.io/coreos/flannel:0.5.5 \
				  /opt/bin/flanneld
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
