[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests /var/lib/kubelet /opt/bin
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kubelet -z /opt/bin/kubelet https://storage.googleapis.com/kubernetes-release/release/v1.3.0/bin/linux/arm/kubelet
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet
ExecStart=/opt/bin/kubelet \
        --api_servers=http://127.0.0.1:8080 \
        --register-schedulable=true \
        --allow-privileged=true \
        --config=/etc/kubernetes/manifests \
        --node-labels="role=master" \
        --cluster-dns=10.60.254.254 \
        --cluster-domain=cluster.local
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
